
/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */


/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------- */

.header__outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.header__inner-container{
    flex-basis: 1400px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}

.navigation{
    width: 100%;
    border: 1px solid orange;

}

.navigation__list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;

}

.navigation__item{
    list-style-type: none;
    margin-inline: 2em;
}

.navigation__item a{
    text-transform: capitalize;
}

.hero-section{

}

.hero-section__title{

}

.hero-section__button--active{

}

/* --------------- 4.2 Main ----------------------- */
.main__outer-container{

}

.main__inner-container{

}
/* --------------- 4.2.1 Introduction ------------- */
.introduction{

}

.introduction__title{

}

.introduction__payoff{

}

.introduction__link{

}
/* --------------- 4.2.2 Articles ----------------- */
.quotations{

}

.article-one{

}

.article-one__picture{

}

.article-two{

}

.article-two__picture{

}

.article-three{

}

.article-three__picture{

}

.quotes{

}

.quotes__title{

}

.quotes__quote{

}

.quotes__quote a{

}


/* --------------- 4.2.3 Propositions ------------- */

.propositions{

}

.propositions_title{

}
.field{

}

.field h3{

}

.field p{

}

/* --------------- 4.3 Footer --------------------- */

.footer__outer-container{

}

.footer__inner-container{

}

.form-title{

}

.contact-us{

}

.contact-us__name{

}

.contact-us__email{

}

.contact-us__message{

}