@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/* ------ Content table

   ------ 1. Global Styles -------
   ------ 2. Typography ----------
   ------ 3. Layout --------------
   ------ 4. Areas ---------------
   ------ 4.1 Header -------------
   ------ 4.2 Main ---------------
   -------4.2.1 Introduction -----
   ------ 4.2.2 Articles ---------
   ------ 4.2.3 Propositions -----
   ------ 4.3 Footer -------------
   ------ 4.3.1 Form -------------
   ------ 4.3.2 Copyright --------
   ------ 5. Media Queries -------

                            ------ */



/* ------------------------------- 1. Global Styles -------------------------------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --main-font: 'Merriweather', 'Times', serif;
    --second-font: 'Roboto', 'Impact', sans-serif;
    --main-bg-color: #5722CD; /*purple*/
    --second-bg-color: #4845E4; /*blue*/
    --third-bg-color: #ED4385; /*pink*/
    --gradient-bg-color: linear-gradient(135deg,
                                    rgba(72,69,228,1) 0%,
                                    rgba(72,69,228,1) 40%,
                                    rgba(87,34,205,1) 100%); /*blue-purple*/
    --main-font-color: #0C0C0C; /*black*/
    --second-font-color: #F3F6F9; /*light grey*/
    --third-font-color: #7A7A7A; /*grey*/
}

/* ------------------------------- 2. Typography ----------------------------------- */

body{
    font-family: var(--second-font);
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5{
    font-family: var(--main-font);
}

.hero-section__title,
.footer__title{
    font-size: 4rem;
}

.hero-section__payoff,
.quotes__title{
    font-size: 3rem;
}

.navigation__item a{
    font-size: 2.25rem;
}
.introduction__title,
.input-form__label-name,
.input-form__label-email,
.input-form__label-message,
.input-form__label-name input::placeholder,
.input-form__label-email input::placeholder,
.input-form__label-message textarea::placeholder,
.hero-section__button--active,
.input-form__button--active{
    font-size: 1.5rem;
}

.quotes__link,
.input-form__label,
.tile__proposition{
    font-size: 1rem;
}
.copyright__text{
    font-size: 0.75rem;
}

/* ------------------------------- 3. Layout --------------------------------------- */


/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------- */

.header__outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
    background: var(--gradient-bg-color);
}

.header__inner-container{
    position: relative;
    flex-basis: 1400px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}

.navigation{
    width: 100%;
    border: 1px solid orange;
    padding: 50px 0;

}

.navigation__list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;

}

.navigation__item{
    list-style-type: none;
    margin-inline: 4em;
}

.navigation__item a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    border: 1px solid turquoise;
    color: white;
    padding: 200px 0;
    margin-bottom: 200px;
}

.hero-section__title{
    width: 100%;
    text-align: center;
}

.hero-section__payoff{
    width: 100%;
    text-align: center;
}
.hero-section__button-wrapper{

}
.hero-section__button--active{
    background: var(--third-bg-color);
    color: white;
    text-transform: uppercase;
    border-radius: 45px;
    padding: 30px;
    width: 500px;
}

.header__squigle{
    position:absolute;
    bottom: 0;
    background-image: url("./assets/squiggle_line_stripe.svg");
    background-size: 100%;
    width: 150px;
    height: 200px;

}

/* --------------- 4.2 Main ----------------------- */
.main__outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.main__inner-container{
    flex-basis: 1400px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}
/* --------------- 4.2.1 Introduction ------------- */

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    padding: 100px 0;
    border: 1px solid turquoise;
}

.introduction__title{
    color: var(--main-bg-color);
    width: 100%;
    text-align: center;
}

.introduction__payoff{
    color: var(--main-font-color);
    width: 100%;
    text-align: center;
}

.introduction__payoff a{
    color: var(--main-bg-color);
    text-decoration: none;

}
/* --------------- 4.2.2 Articles ----------------- */

#case-studies{

}

.quotations{
    background: var(--second-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    padding: 50px 0;
}

.card{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    padding: 50px 0;

}

.card__picture-one{
    background-image: url("./assets/work-image-01.jpeg");
    background-size: cover;
    width: 800px;
    height: 530px;

}

.card__picture-two{
    background-image: url("./assets/work-image-02.jpeg");
    background-size: cover;
    width: 800px;
    height: 530px;
}

.card__picture-three{
    background-image: url("./assets/work-image-03.jpeg");
    background-size: cover;
    width: 800px;
    height: 530px;
}

.quotes{

}

.quotes__title{

}

.quotes__title::after{
    background-image: url("./assets/squiggle_line.svg");
    background-size: 100%;
}

.quotes__quote{

}

.quotes__link{
    text-decoration: none;
    text-transform: uppercase;
}


/* --------------- 4.2.3 Propositions ------------- */

#services{

}

.propositions{

}

.tile{
    border: 1px solid var(--main-bg-color);
}
.tile__title{
    color: var(--main-bg-color);
}

.tile__proposition{
    color: var(--third-font-color);
}

.tile__picture-one{
    background-image: url("./assets/icon_web-design.svg");
    background-size: cover;
}

.tile__picture-two{
    background-image: url("./assets/icon_web-development.svg");
    background-size: cover;
}

.tile__picture-three{
    background-image: url("./assets/icon_ux.svg");
    background-size: cover;
}

.tile__picture-four{
    background-image: url("./assets/icon_graphic-design.svg");
    background-size: cover;
}

.tile__picture-five{
    background-image: url("./assets/icon_seo.svg");
    background-size: cover;
}

.tile__picture-six{
    background-image: url("./assets/icon_copywriting.svg");
    background-size: cover;
}

/* --------------- 4.3 Footer --------------------- */

#contact-form{

}

.footer__outer-container{

}

.footer__inner-container{
    background: var(--gradient-bg-color);
    color: white;
}

.footer__title{

}

/* --------------- 4.3.1 Form --------------------- */

.input-form__label{

}

.input-form{

}

.input-form label{
    text-transform: capitalize;
}

.input-form__label-name{

}

.input-form__label-name input{
    border: 0.5px solid grey;
    border-radius: 0.25em;
    width: 100%;
}

.input-form__label-name input::placeholder{
    text-transform: capitalize;
    padding: 20px;
}

.input-form__label-email{

}

.input-form__label-email input{
    border: 0.5px solid grey;
    border-radius: 0.25em;
    width: 100%;
}

.input-form__label-email input::placeholder{
    text-transform: capitalize;
    padding: 20px;
}

.input-form__label-message{

}

.input-form__label-message textarea{
    border-radius: 0.25em;
    width: 100%;
}

.input-form__label-message textarea::placeholder{
    text-transform: capitalize;
    padding: 20px;
}

.input-form__button--active{
    background: var(--third-bg-color);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 45px;
    padding: 30px;
    width: 450px;
}

/* --------------- 4.3.2 Copyright --------------- */

.copyright{
    background: var(--main-font-color);
}

.copyright__text{
    color: white;
}