@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

/* ------ Content table

   ------ 1. Global Styles -------
   ------ 2. Typography ----------
   ------ 3. Layout --------------
   ------ 4. Areas ---------------
   ------ 4.1 Header -------------
   ------ 4.2 Main ---------------
   -------4.2.1 Introduction -----
   ------ 4.2.2 Articles ---------
   ------ 4.2.3 Propositions -----
   ------ 4.3 Footer -------------
   ------ 4.3.1 Form -------------
   ------ 4.3.2 Copyright --------
   ------ 5. Media Queries -------

                            ------ */


/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --main-font: 'Merriweather', 'Times', serif;
    --second-font: 'Roboto', 'Impact', sans-serif;
    --main-bg-color: #5722CD; /*purple*/
    --second-bg-color: #4845E4; /*blue*/
    --third-bg-color: #ED4385; /*pink*/
    --gradient-bg-color: linear-gradient(135deg,
    rgba(72, 69, 228, 1) 0%,
    rgba(72, 69, 228, 1) 40%,
    rgba(87, 34, 205, 1) 100%); /*blue-purple*/
    --main-font-color: #0C0C0C; /*black*/
    --second-font-color: #F3F6F9; /*light grey*/
    --third-font-color: #7A7A7A; /*grey*/
}

/* ------------------------------- 2. Typography ----------------------------------- */

body {
    font-family: var(--second-font);
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--main-font);
}

.hero-section__title,
.footer__title,
.quotes__title {
    font-size: 4rem;
}

.hero-section__payoff,
.input-form__label,
.tile__title,
.introduction__title{
    font-size: 2.5rem;
}

.hero-section__button--active,
.input-form__button--active,
.navigation__item a,
.introduction__payoff,
.input-form__label-name,
.input-form__label-email,
.input-form__label-message,
.input-form__label-name input::placeholder,
.input-form__label-email input::placeholder,
.input-form__label-message textarea::placeholder,
.copyright__text {
    font-size: 1.75rem;
}

.quotes__quote,
.quotes__link,
.tile__proposition {
    font-size: 1rem;
}


/* ------------------------------- 3. Layout --------------------------------------- */

.header__outer-container,
.main__outer-container,
.footer__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.hero-section,
.main__inner-container,
.header__inner-container,
.introduction,
.quotations,
.card,
.quotes,
.propositions,
.tile,
.footer__inner-container,
.input-form,
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.propositions__slanting,
.header__slanting {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-bottom: 30px solid white;
    border-left: 50vw solid white;
    border-right: 50vw solid transparent;
    border-top: 30px solid transparent;
    z-index: 1;
}

.footer__slanting,
.quotations__slanting {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 30px solid white;
    border-right: 50vw solid white;
    border-left: 50vw solid transparent;
    border-bottom: 30px solid transparent;
    z-index: 1;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------- */

.header__outer-container {
    position: relative;
    background: var(--gradient-bg-color);
}

.header__inner-container {
    flex-basis: 1700px;
    margin: 0 20px;
}

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 50px 0;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*gap: 3em;*/
    padding-right: 50px;
}

.navigation__item {
    list-style-type: none;
    margin-inline: 7em;
}

.navigation__item a {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}

.hero-section {
    width: 100%;
    color: white;
    padding: 200px 0;
    margin-bottom: 200px;
}

.hero-section__title {
    width: 100%;
    text-align: center;
}

.hero-section__payoff {
    width: 100%;
    text-align: center;
}

.hero-section__button--active {
    background: var(--third-bg-color);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 60px;
    padding: 40px 60px;
    width: 500px;
    box-shadow: 5px 5px 50px -10px var(--main-font-color);
}

.header__squigle {
    position: absolute;
    bottom: 0;
    background-image: url("./assets/squiggle_line_stripe.svg");
    background-size: 100%;
    width: 150px;
    height: 200px;

}

/* --------------- 4.2 Main ----------------------- */
.main__outer-container {
    position: relative;
}

.main__inner-container {
    flex-basis: 1700px;
    margin: 0 20px;
}

/* --------------- 4.2.1 Introduction ------------- */

.introduction {
    padding: 100px 0;
}

.introduction__title {
    color: var(--main-bg-color);
    width: 100%;
    text-align: center;
}

.introduction__payoff {
    color: var(--main-font-color);
    width: 100%;
    text-align: center;
}

.introduction__payoff a {
    color: var(--main-bg-color);
    text-decoration: none;
}

/* --------------- 4.2.2 Articles ----------------- */

.quotations {
    background: var(--second-font-color);
    position: relative;
    width: 100%;
    padding: 100px 0;
}

.card__picture-one {
    background-image: url("./assets/work-image-01.jpeg");
    background-size: cover;
    width: 800px;
    height: 530px;
    box-shadow: 0px 10px 50px -30px var(--main-font-color);
}

.card__picture-two {
    background-image: url("./assets/work-image-02.jpeg");
    background-size: cover;
    width: 800px;
    height: 530px;
    box-shadow: 0px 10px 50px -30px var(--main-font-color);
}

.card__picture-three {
    background-image: url("./assets/work-image-03.jpeg");
    background-size: cover;
    width: 800px;
    height: 530px;
    box-shadow: 0px 10px 50px -30px var(--main-font-color);
}

.quotes {
    align-items: flex-start;
    padding: 100px 0;
}

.quotes__squigle {
    background-image: url("./assets/squiggle_line.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 10px;
}

.quotes__quote {
    width: 800px;
}

.quotes__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.quotes__link::after {
    position: absolute;
    content: '';
    width: 10%;
    border-bottom: solid 1px;
    left: 110%;
    top: 50%;
    transition: width 1s ease-in-out;
    z-index: 1;
}

.quotes__link:hover::after {
    width: 20%;
}

/* --------------- 4.2.3 Propositions ------------- */

.propositions {
    padding: 100px 0;
}

.tile {
    border: 3px solid var(--main-bg-color);
    flex-basis: 700px;
    aspect-ratio: 1/1;
    gap: 0em;
    align-items: flex-start;
    padding: 0px 100px;
    box-shadow: 5px 5px 50px -20px var(--main-font-color);
}

.tile__title {
    color: var(--main-bg-color);
    width: 500px;
    padding-top: 0px;
    padding-bottom: 40px;
}

.tile__proposition {
    color: var(--third-font-color);
    width: 500px;
}

.tile__picture-one {
    background-image: url("./assets/icon_web-design.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.tile__picture-two {
    background-image: url("./assets/icon_web-development.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.tile__picture-three {
    background-image: url("./assets/icon_ux.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.tile__picture-four {
    background-image: url("./assets/icon_graphic-design.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.tile__picture-five {
    background-image: url("./assets/icon_seo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.tile__picture-six {
    background-image: url("./assets/icon_copywriting.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

/* --------------- 4.3 Footer --------------------- */

.footer__outer-container {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.footer__inner-container {
    background: var(--gradient-bg-color);
    flex-basis: 100%;
    flex-grow: 1;
    color: white;
    padding: 80px 0 40px 0;
}

.footer__title {
    text-align: center;
}

/* --------------- 4.3.1 Form --------------------- */

.input-form__label {
    /*width: 100%;*/
    padding: 50px 40px;
}

.footer__subtitle {
    text-align: center;
    padding-bottom: 40px;
}

.input-form {
    /*width: 100%;*/
    align-items: stretch;
    gap: 1em;
}

.input-form label {
    text-transform: capitalize;
}

.input-form__label-name input {
    border: 0.5px solid grey;
    border-radius: 0.25em;
    width: 100%;
    line-height: 4rem;
}

.input-form__label-name input::placeholder {
    text-transform: capitalize;
    padding: 20px;
}

.input-form__label-email input {
    border: 0.5px solid grey;
    border-radius: 0.25em;
    width: 100%;
    line-height: 4rem;
}

.input-form__label-email input::placeholder {
    text-transform: capitalize;
    padding: 20px;
}

.input-form__label-message textarea {
    border-radius: 0.25em;
    width: 100%;
}

.input-form__label-message textarea::placeholder {
    text-transform: capitalize;
    padding: 20px;
}

.input-form__button--active {
    background: var(--third-bg-color);
    align-self: center;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 60px;
    padding: 40px 60px;
    width: 450px;
    box-shadow: 5px 5px 50px -10px var(--main-font-color);
}

/* --------------- 4.3.2 Copyright --------------- */

.copyright {
    background: var(--main-font-color);
    flex-basis: 100%;
    flex-grow: 1;
    /*gap: 0px;*/
}

.copyright__text {
    flex-grow: 1;
    color: white;
    padding: 40px 0;
    /*text-align: center;*/
}

/* ------------------------------- 5. Media Queries --------------------------------- */

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10em;
    }

    .quotes {
        flex-basis: 100px;
        padding: 0px 100px;
    }

    .quotes__quote {
        width: 100%;
    }

    .card:nth-child(even) {
        flex-direction: row-reverse;
    }

    .propositions {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tile {
        flex-basis: 500px;
        height: 500px;
        aspect-ratio: 1/1;
        padding: 0px 50px;
    }

    .tile__title,
    .tile__proposition {
        width: 100%;
    }
}