/* ------ Content table

   ------ 1. Global Styles
   ------ 2. Typography
   ------ 3. Layout
   ------ 4. Areas
   ------ 4.1 Header
   ------ 4.2 Main
   -------4.2.1 Introduction
   ------ 4.2.2 Articles
   ------ 4.2.3 Propositions
   ------ 4.3 Footer
   ------ 4.3.1 Form
   ------ 4.3.2 Copyright
   ------ 5. Media Queries

                            ------ */



/* ------------------------------- 1. Global Styles -------------------------------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */


/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------- */

.header__outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.header__inner-container{
    flex-basis: 1400px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}

.navigation{
    width: 100%;
    border: 1px solid orange;

}

.navigation__list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;

}

.navigation__item{
    list-style-type: none;
    margin-inline: 2em;
}

.navigation__item a{
    text-transform: capitalize;
}

.hero-section{

}

.hero-section__title{

}

.hero-section__payoff{

}
.hero-section__button-wrapper{

}
.hero-section__button--active{

}

.header__squigle{

}

/* --------------- 4.2 Main ----------------------- */
.main__outer-container{

}

.main__inner-container{

}
/* --------------- 4.2.1 Introduction ------------- */

.introduction{

}

.introduction__title{

}

.introduction__payoff{

}

.introduction__payoff a{

}
/* --------------- 4.2.2 Articles ----------------- */

#case-studies{

}

.quotations{

}

.card{

}

.card__picture-one{

}

.card__picture-two{

}

.card__picture-three{

}

.quotes{

}

.quotes__title{

}

.quotes__quote{

}

.quotes__link{

}


/* --------------- 4.2.3 Propositions ------------- */

#services{

}

.propositions{

}

.tile__title{

}
.tile__title{

}

.tile__proposition{

}

.tile__picture-one{

}

.tile__picture-two{

}

.tile__picture-three{

}

.tile__picture-four{

}

.tile__picture-five{

}

.tile__picture-six{

}

/* --------------- 4.3 Footer --------------------- */

#contact-form{

}

.footer__outer-container{

}

.footer__inner-container{

}

.footer__title{

}

/* --------------- 4.3.1 Form --------------------- */

.input-form__label{

}

.input-form{

}

.input-form__label-name{

}

.input-form__label-name input{

}

.input-form__label-name input::placeholder{

}

.input-form__label-email{

}

.input-form__label-email input{

}

.input-form__label-email input::placeholder{

}

.input-form__label-message{

}

.input-form__label-message input{

}

.input-form__label-message input::placeholder{

}

.input-form__button--active{

}

/* --------------- 4.3.2 Copyright --------------- */

.copyright{

}

.copyright__text{

}